/*
 Annotated Word Blocks
 ========================================================================== */


.word-block {
  display: inline-block;
  text-align: center;
  margin: 0;
  position: relative;
  text-indent: 0;
}

.word-block span {
  display: block;
  line-height: 1.3;
  text-indent: 0;
}


/* Hide by default */

.word-block .word-block-pinyin,
.word-block .word-block-simplified,
.word-block .word-block-traditional,
.word-block .word-block-definition {
  display: none;
}

/* Shown on demand */

.show-pinyin .word-block-pinyin,
.show-simplified .word-block-simplified,
.show-traditional .word-block-traditional,
.show-definition .word-block-definition {
  display: block;
}

.show-definition .word-block {
  position: relative;
}

/* Line style */

.word-block-pinyin {
  font-size: 0.7em;
  margin: 0 0.2rem;
}

.word-block-definition {
  display: none;
  color: #aaa;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 0.5em;
  max-width: 6rem;
  margin: 0 0.5em 0.2em 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* ------------------------------------------------------------------------- *
 * Tooltip
/* ------------------------------------------------------------------------- */

.tpd-stem.tpd-stem-reset {
  display: none;
}

.tpd-content {
  width: 15rem;
  max-height: 15rem;
  overflow: scroll;
  font-family: Helvetica, sans-serif;
  background: hsla(0, 0%, 98%, 1);
  padding: 0 !important;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 15px #0000002b;
}

.tooltip-entry {
  padding: 1rem;
}

.tooltip-entry + .tooltip-entry {
  border-top: 1px solid #ccc;
}

.tooltip-entry-character {
  font-size: 1.3rem;
  color: #888 !important;
  font-weight: normal;
}

.tooltip-entry-character:hover {
  text-decoration: none !important;
}

.tooltip-entry-pinyin {
  font-size: 1.1rem;
  color: #7b7a7a;
}

.tooltip-entry-definition {
  color: #7b7a7a;
  font-size: 0.9rem;
  list-style: none;
  line-height: 1.5;
  padding-left: 0.6rem;
  position: relative;
}

.tooltip-entry-definition::before {
  content: '‣';
  position: absolute;
  left: 0;
}


.tooltip-entry .speak {
  cursor: pointer;
  color: #989292;
  top: 0;
  padding: 0;
}

.tooltip-entry .speak:hover {
  color: #ccc;
}


.grammar-highlight {
  border-bottom: 4px dotted #28a745;
}

.tooltip-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  margin: 0.1rem;
  display: block;
}

.tooltip-images {
  float: right;
  padding-left: 0.5rem;
  background-color: #fafafa;
}